@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { 
	font-family: 'Droid Serif'; 
  color: #1B414E;
}

h1, h2, h3 {
	color: #474747;
	font-family: 'Yanone Kaffeesatz';
	font-weight: normal;
}

h1 {
	list-style-type: none;
	text-align: center;
}

h1:after {
	content: "";
	background: transparent url('images/subtitle.png') no-repeat;
	background-position: center;
	background-size: cover;
	display: block;
	margin: auto;
	height: 17px;
	width: 150px;
}

h2:before {
  content: "\f142";
  color: #3899A0;
  font-family: FontAwesome;
  font-size: 38px;
  padding-right: 10px;
}

a {
  color: #26648B;
}

a:visited {
  color: #284565;
}

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin-top: 1em;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
  font-size: 25px;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) " - ";
}

ul {
	list-style-type: none;
}

ul > li {
  margin-top: 0.3em;
}

ul > li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  margin-left: -1.2em; 
  width: 1.2em; 
}​

.remark-slide-content {

}

.remark-code, .remark-inline-code { 
	font-family: 'Ubuntu Mono'; 
}

img[alt=dockerfs] { 
	width: 500px; 
}